header {
  float: top;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

nav {
  text-align: right;
  padding-right: 50px;
}

ul {
  display: flex;
  list-style:none;
}

ul a{
  padding: 10px;
  font-weight: bold;
}

body {
  background-image: url(pattern.jpg) ;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Slabo 27px';
}

#article-list {
  border: 1px #ddd solid;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

p {
  border-bottom: 2px #ddd solid;
  padding-bottom: 15px;
}

footer {
  background-color: black;
  padding: 1px;
}

h5 {
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  color: black;
  font-size: 25pt;
}
